.container-fluid {
    position: relative;
    padding: 0rem;
    margin: 0rem;
    width: 100%;
    min-width: 500px;
}


.backgroundImage {
    width: 100%;
}


.grid {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-width: 500px;
}

.title {
    color: white;
    font-size: 3vw;
    padding: 6rem 6rem 2rem 6rem;
}

.info {
    color: white;
    font-size: 2vw;
    padding: 1rem 20% 7rem 20%;
    text-align: justify;

}

.contentRegister {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 19vw 15vw 10vw 10vw;
}

.imgRegister {
    width: 60%;
    margin-bottom: 1vw;
}

.topic>p:first-child {
    color: white;
    font-size: 2vw;
   
}

.topic>p:last-child {
    color: white;
    font-size: 4vw;
    font-weight: 700;
}

.topic p {
    margin: 0; /* Elimina el margen */
    line-height: .8;
}

.formInfo{
    padding-top: 2vw;
    font-weight: 700;
    font-size: 2vw;
    text-wrap: nowrap;
}
.hour{
    color:#008d91;
    text-align: center;
}

.btn{
    color: white;
    font-size: 2vw;
    background-color: #008d91;
    padding: 1vw 4vw;
    width: 30vw;
}

.formInfo > p:first-child{
color: white;
font-weight: 400;
}





  

  @media (max-width: 1200px) {
    .title {
        padding: 2rem 3rem 2rem 3rem;
        margin: 0px;
        font-size: 3vw;
    }
    
    .info {
        padding: 1rem 15% 5rem 15%;
        font-size: 2.5vw;
    }
    
    .contentRegister {
        padding: 19vw 10vw 10vw 10vw;
    }
    
    .imgRegister {
        width: 40%;
    }
  }
  
  
  @media (max-width: 1024px) {
    .title {
        padding: 2rem 3rem 2rem 3rem;
        margin: 0px;
        font-size: 3vw;
    }
    
    .info {
        padding: 1rem 15% 5rem 15%;
        font-size: 2.5vw;
    }
    
    .contentRegister {
        padding: 17vw 10vw 10vw 10vw;
    }
    
    .imgRegister {
        width: 40%;
    }
  }
  
  
  @media (max-width: 768px) {
    .title {
        padding: 2rem 3rem 2rem 3rem;
        margin: 0px;
        font-size: 3vw;
    }
    
    .info {
        padding: 1rem 15% 5rem 15%;
        font-size: 2.5vw;
    }
    
    .contentRegister {
        padding: 14vw 10vw 10vw 10vw;
    }
    
    .imgRegister {
        width: 40%;
    }
  }
  
  
  @media (max-width: 600px) {
    .title {
        padding: 2rem 3rem 2rem 3rem;
        margin: 0px;
        font-size: 3vw;
    }
    
    .info {
        padding: 1rem 15% 5rem 15%;
        font-size: 2.5vw;
    }
    
    .contentRegister {
        padding: 10vw 10vw 10vw 10vw;
    }
    
    .imgRegister {
        width: 40%;
    }
  }
  

  @media (max-width: 500px) {
    .grid {
      min-width: 500px;
    }
  }
 
  @media (max-width: 480px) {
    .title {
        padding: 2rem 3rem 2rem 3rem;
        margin: 0px;
        font-size: 4vw;
    }
    
    .info {
        padding: 1rem 15% 5rem 15%;
        font-size: 2.5vw;
    }
    
    .contentRegister {
        padding: 1vw 6vw 10vw 10vw;
    }
    
    .imgRegister {
        width: 40%;
    }
  }
  


