<div class="container-fluid">
    <img class="backgroundImage" src="../../assets/imgs/2.png" alt="">
    <div class="relleno">
        <div>
            <p class="title">
                ¿Eres Director o Gerente de Empresa, de Ingeniería
                o de Tecnologías de Información?
            </p>
        </div>
        <div>
            <p class="info">
                En esta Masterclass podrás contar con una <span class="highlight">GUÍA</span> del proyecto para
                su transformación. Además, contarás con el <span class="highlight">ANÁLISIS</span> de procesos,
                selección de <span class="highlight">TECNOLOGÍAS</span> y su <span class="highlight">ESTRATEGIA</span>
                para
                implementarla.
            </p>
        </div>
        <div class="contentRegister">
            <div class="register">
                <img class="imgRegister" src="assets/imgs/8.png" alt="">
                <div class="topic">
                    <p> TRANSFORMACIÓN</p>
                    <p>DIGITAL</p>
                </div>
                <div class="formInfo">
                    <p>Impartida por el Mtro. Rosalino Zamorano</p>
                    <p class="hour">Martes 08 de Junio <br>
                        Vía ZOOM</p>
                </div>
                <div>
                    <button type="button" class="btn"> Registrarme ahora</button>
                </div>
            </div>
        </div>
    </div>
    <div class="contentContainer">
        <p class="text-center name"> Impartido por <br>
            Mtro. Rosalino Zamorano</p>
    </div>

    <div class="bodyContainer">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="bar">
            </div>
            <div class="card">
                <img class="imgCard" src="assets/imgs/5.png" alt="">
                <p>
                    Amplia experiencia Como
                    Director de Tecnologías de la
                    Información
                </p>
            </div>
        </div>
        <div class="d-flex justify-content-center align-items-center listItem">
                <ul class="list">
                    <li><span><img src="assets/imgs/6.png" alt=""></span>Administración de servicios de TI. recursos informáticos y contratos de servicios <br> en sede principal y 5 subsedes (INTRANET)</li>
                    <li><span><img src="assets/imgs/6.png" alt=""></span>Consolidación de implementación del ERP BAAN V</li>
                    <li><span><img src="assets/imgs/6.png" alt=""></span>Diseño y construcción de los MDF's de la INTRANET</li>
                    <li><span><img src="assets/imgs/6.png" alt=""></span>Migración de operación crítica de Data Center Comercial</li>
                  </ul>
        </div>
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="bar">
            </div>
            <div class="card">
                <img class="imgCard" src="assets/imgs/5.png" alt="">
                <p>
                    Ingeniero en proyectos de
                    implementación de ERP BAAN
                    V y diseño e implementación
                    de red de comunicaciones y
                    telecomunicaciones CIDESI
                </p>
            </div>
        </div>
       <div class="d-flex align-items-md-start">
        <div class="d-flex flex-column justify-content-center align-items-center">
            <div class="bar">
            </div>
            <div class="card">
                <img class="imgCard" src="assets/imgs/5.png" alt="">
                <ul class="list2">
                    <li><span class="spanLi">Gerente de cómputo y comunicaciones</span></li>
                    <li><span class="spanLi">Gerente de desarrollo de Software</span></li>
                    <li><span class="spanLi">Desarrollador de Sistemas</span></li>
                    <li><span class="spanLi">Administrador de Redes y Equipos de Cómputo</span></li>
                  </ul>
            </div>
        </div>
       </div>
    </div>

    <div class="">
        
    </div>
</div>



