<div class="container-fluid">
    <img class="backgroundImage" src="../../assets/imgs/2.png" alt="">
    <div class="grid text-center">
        <div>
            <p class="title">
                ¿Eres Director o Gerente de Empresa, de Ingeniería
                o de Tecnologías de Información?
            </p>
        </div>
        <div>
            <p class="info">
                En esta Masterclass podrás contar con una <span class="highlight">GUíA</span> del proyecto para
                su transformación. Además, contarás con el <span class="highlight">ANÁLISIS</span> de procesos,
                selección de <span class="highlight">TECNOLOGÍAS</span> y su <span class="highlight">ESTRATEGIA</span>
                para
                implementarla.
            </p>
        </div>
        <div class="contentRegister">
            <div>
                <img class="imgRegister" src="assets/imgs/8.png" alt="">
                <div class="topic">
                    <p> TRANSFORMACIÓN</p>
                    <p>DIGITAL</p>
                </div>
                <div class="formInfo">
                    <p>Impartida por el Mtro. Rosalino Zamorano</p>
                    <p class="hour">Martes 08 de Junio <br>
                        Vía ZOOM</p>
                   </div>
                   <div>
                    <button type="button" class="btn"> Registrarme ahora</button>
                   </div>
            </div>
        </div>
    </div>
    <div class="contentContainer">
        <p class="text-center name"> Impartido por <br>
        Mtro. Rosalino Zamorano</p>
        <div class="grid ">
        
        </div>
        </div>
</div>